/* .container-95c in all.css*/

.app-img-container {
    position: relative;
    max-width: 90%;
    margin: 2% auto;
}

.content {
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.content h5 {
    text-align: justify;
}

.content h5 span {
    font-size: larger;
}

.app-img-container img {
    vertical-align: middle;
    width: 100%;
}

/* key personnel */
.card-body .card-title {
    font-size: 1.6rem;
    font-variant: small-caps;
    margin-bottom: 16px;
}

.card-body .card-title,
.card-body .card-text {
    font-weight: bolder;
    font-family: 'Times New Roman', 'Garamond ', serif;
}

.card-body .card-text {
    font-size: 1.38rem;
}

.card-body .card-text.small {
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}

.card-body .card-text:last-child {
    font-size: 1.12rem;
}

/* media query */
@media only screen and (orientation: portrait) and (max-width: 500px) {
    .content h5 {
        text-align: left;
    }

    .card-body .card-title,
    .card-body .card-text {
        margin-bottom: 8px;
        font-family: 'STIX Two Text', serif;
    }

    .card-body h5.card-title {
        font-size: 1.25rem;
    }

    .card-body p.card-text, .card-body .card-text:last-child {
        font-size: 1rem;
    }

    .card-body p.card-text.small {
        font-size: 0.9rem;
    }
}