/* common for all webpages */
* {
    box-sizing: border-box
}

body {
    background-color: rgb(238, 238, 238, 0.12);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Roboto, Arial, sans-serif;

}

h1,
h2 {
    padding: 2% 0 0 1%;
    text-decoration: 1px underline greenyellow;
    font-family: Roboto, Arial, sans-serif;
}

h4 {
    padding: 0 0 0 1%;
}

p {
    font-size: 1rem;
}

.navbar-brand img {
    width: 40px;
}

.first-heading {
    margin-top: 65px;
    padding-top: 4%;
    font-weight: 400;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

div.container-fluid.fullscreen {
    padding: 0px;
}

.horizontal .dropdown-item:active {
    background-color: lightgrey;
}

/* container for centered content */
.container-95c {
    width: 95%;
    margin: 0 auto;
}

/* vertical nav */
.vertical-nav-heading {
    text-decoration: none;
    color: black;
}

.vertical-nav-heading:hover {
    color: darkgreen;
}

/* footer */
footer {
    text-align: center;
    padding: 2%;
    line-height: 2.5;
    background-color: #f8f9fa;
    border-top: 1px solid rgb(124, 148, 115, .6);
}

footer p {
    display: inline;
}

footer address {
    margin: 0px;
    display: inline;
}

footer .tel {
    text-decoration: none;
}

p#tel {
    display: inline-block;
    margin: 0 2rem 0 0;
}

p#fax {
    display: inline-block;
    margin: 0 2rem;
}

p#email {
    display: inline-block;
    margin: 0 0 0 2rem;
}

p#copyright {
    display: block; margin: 0;
}

/* media query */
@media all and (max-width: 780px) {
    .first-heading {
        margin-bottom: 20px;
    }

    footer {
        line-height: 1.8;
    }

    footer h4 {
        padding: 15px 0 0 1%;
    }
}

@media all and (max-width: 680px) {
    p#tel,
    p#fax,
    p#email {
        display: block;
        margin: 0;
    }
    p#copyright {
        margin-top: 12px;
    }
}

@media all and (max-width: 480px) {
    .container-95c {
        width: 100%;
        margin: 0;
    }

    h2 {
        font-size: 1.65rem;
    }

    .first-heading {
        margin-top: 80px;
    }

    footer div.row+p {
        display: block;
        margin: 20px 0 0 0;
    }
}